* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    display: flex;
}



.side {
    min-height: 100vh;
    background-color: #242424;
    width: 407px;
    display: flex;
    flex-direction: column;
    color: #ffff;
}

.image {
    width: 230px;
    height: 230px;
    background-color: #D8D8D8;
    border-radius: 50%;
    margin: 57px auto 0;
}

.title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 55px;
    letter-spacing: 3.7px;
    padding-bottom: 13px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
}


.info {
    margin: 12px 0 0 105px;
}

.info__title {
    font-size: 25px;
    font-weight: 600;
}

.info__text {
    font-weight: 500;
    font-size: 20px;
    margin-top: -15px;
    color: rgba(255, 255, 255, 0.7);
}

/* MAIN
========================== */
.main {
    width: calc(100% - 407px);
}

.description {
    margin: 80px 0 0 34px;
}

.name {
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 700;
}

.job {
    font-size: 21px;
    font-weight: 500;
    color: #242424;
    letter-spacing: 8px;
    padding-bottom: 35px;
    border-bottom: 2px solid #9B9B9B;
}

.exp {
    margin-top: 35px;
    margin-left: 35px;
}

.heading {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.experience {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.experience__data {
    width: 30%;
    text-align: right;
}

.experience__data::before {
    content: '';
    width: 15px;
    height: 15px;
}

.experience__name {
    font-size: 25px;
    font-weight: 600;
}

.experience__year {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.7;
    margin-top: -12px;
}

.experience__info {
    width: calc(70%-80px);
}

.experience__position {
    font-size: 25px;
    font-weight: 600;
}

.experience__duty {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.7;
    margin-top: -12px;
}